@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
  background-color: #ECEFF1;
  color: #37474F;
  line-height: 1.6;
  overflow-x: hidden; 
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #1E88E5; 
  color: #ffffff;
  padding: 60px 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif; 
}


.parallax {
  
  background-image: url('images/logo.jpeg');

  
  height: 100%; 

 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


main, footer, header h1, header p, .form-group label, button[type='submit'], footer {
  color: #E0F7FA; 
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
}

section, .form-group input[type='text'], .form-group input[type='email'], .form-group select {
  border-color: #78909C; 
}

button[type='submit'] {
  background-color: #29B6F6; 
}


header, button[type='submit'], button[type='submit']:hover, footer {
  background: linear-gradient(145deg, #1E88E5, #1565C0); 
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .body-container {
    padding: 40px;
  }
  
  header, section {
    border-radius: 10px; 
    transition: all 0.3s ease-in-out; 
  }
}
