
body {
    background-color: #042f74;
    color: white;
    font-family: 'Courier New', monospace;
}


.explore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#mainContent {
    display: none;
}


#mainContent.visible {
    display: block;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#exploreButton {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#exploreButton:hover {
    background-color: #0056b3;
}

input, select, button {
    width: 90%;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (min-width: 600px) {
    input, select, button {
        width: 80%;
    }
}

@media (min-width: 900px) {
    input, select, button {
        width: 50%;
    }
}
